.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-city {
  height: 200px;
  background-size: cover;
  background-position: center;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 200px;
}
.card-city h3 {
  color: white;
}
