.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 40%), url(../../images/students.jpg);
  background-size: cover;
}
.banner-content {
  padding: 20px;
}
.banner h1 {
  color: white;
  font-size: 50px;
  letter-spacing: -1px;
}
.banner h2 {
  font-family: "Open Sans";
  color: rgba(255,255,255,0.8);
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 50px;
}
