.btn-blue {
  color: white;
  background: #6772e5;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  padding: 25px 40px;
  display: inline-block;
}
.btn-blue:hover {
  background: #7795f8;
  color: white;
}
